.autoCompleteField
  display flex !important

.autoComplete
  margin 0.5rem 0

.TextField
  margin: 0.5rem 0
  
.autoCompleteField
  display: flex
  padding 0

.valueContainer
  flex 1
  display flex
  overflow hidden
  flex-wrap wrap
  align-items center
  padding 2px 0px

.noOptions
  padding 0 10px

.autoComplete
  div:nth-child(3)
    overflow auto !important
    height 150px !important
    z-index 99999 !important
