{
  "presets": [
    [ "@babel/env", { "modules": false } ],
    "@babel/typescript",
    "@babel/preset-react",
    "@babel/preset-es2017"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-es2017"]
    }
  }
}
