.actionsClaims
    display flex
    align-items center
    & *
        margin 0 5px !important

.StatusNew
    background-color #1DBD55 !important
    color #fff !important
.StatusCurrent
    background-color #F7B617 !important
    color #fff !important
.StatusFinalized
    background-color #2B387F !important
    color #fff !important
.StatusAll
    background-color #000 !important
    color #fff !important