.sending 
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center
    position relative

    span
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
        font-size 16px
        color primary-color-white

.colorPrimaryNew
    color #1DBD55 !important
.colorPrimaryProgress
    color #F7B617 !important
.colorPrimaryFinalized
    color #2B387F !important