.content
    margin 10px 0
    
.question
    display flex !important
    flex-direction row !important
    align-items center !important 
    justify-content space-between !important
    paddind 10px 0 !important

    .answer
        display flex
        flex-direction row
        flex-flow nowrap

.imageButton
    position relative
    padding 15px
    width 100%
    height 200px
    background-position center 40%
    background-repeat no-repeat
    background-size cover
    margin 10px 0
    border-radius 5px !important
    box-shadow: inset 0 0 79px #000
    opacity 0.5

    h6
        position absolute
        left 20px
        bottom 20px
        color #fff
        text-transform uppercase
        font-size 14px
.imageButtonActive
    opacity 1

.btnSubmit
    padding 20px 0