@import '../../assets/css/general.styl'

.selectMain
  margin 0.5rem 0
  .select
    width 100%
    margin 0.5rem 0

    label
      font-size 12px

    .formControl
      margin-top 0px

      .default
        color #ccc
