.content
    margin 10px 0
    padding 20px

.headerClaim
    display flex
    align-items flex-end
    justify-content space-between

    .StatusNew
        background-color #1DBD55 !important
        color #fff !important
    .StatusCurrent
        background-color #F7B617 !important
        color #fff !important
    .StatusFinalized
        background-color #2B387F !important
        color #fff !important