// ENVIRONMENT VARIABLES
@import 'vars.styl'

// Mixins
@import 'mixins.styl'

.confirmButton
    margin 15px 0

.content
    padding 0 16px
    margin-bottom 110px

.alert 
    padding 5px
    border 1px solid #d5d5d5
    border-radius 5px
    background-color #fbfbfb
    font-size 11px !important
    display flex
    align-items center
    svg 
        margin-right 5px





