primary-color-white = #fff
primary-color-black = #000
secondary-color-black = #26292F
primary-color-blue = #034586
secondary-color-blue = #004A93
primary-color-gray = #CCCECE
color-blue-mask = #004a93
grey-background = #444854
grey-text-color = #26292F
secondary-grey-text-color = #CCCECE
