.content
    padding 10px 0
    .card
        height 100%

.btnSave
    padding-top 15px
    text-align right
    display flex

.blocInfoXS
    padding-bottom 20px

.blocInfo
    padding-top 10px
    padding-bottom 10px