.inputForm 
  width 100%
  margin-top 0
  
.contentForm
    padding-top 20px
    padding-bottom 20px

.panel_form
  margin-bottom 20px

.btnForm
  display block !important
  text-align -webkit-right !important

  .confirmButton
    &:disabled
      background-color #ccc !important

  .classBtn
    display flex

    .sairButton
      margin-right 20px

.actionsClaims
  display flex
  align-items center
  & *
     margin 0 5px
     

.selectType
  display flex
  justify-content flex-end

  & div
      margin 0 5px

