.header 
    background-color #f27e20

    .title
        display flex
        color #ffffff

        span
            padding 0 10px

    .toobar 
        display flex
        justify-content space-between
    
    .iconCloseButton
        color #ffffff
    
    .closeButton
        background-color #f27e20
        color #ffffff



.content 
    padding 20px
    @media(min-width: 800px)
        width 500px