@import '../../../assets/css/general.styl'

.modal
  overflow hidden
.headerModal
  background-color fourthy-color-orange
  display flex
  align-items center
  justify-content space-between
  padding 0 16px

  .actionModal
    display flex
    button
      color primary-color-white
      
      &:disabled
        color #f3852b !important
  .headerTitle
    color primary-color-white
    .containerIcon
      svg
        transform rotate(180deg)

  .containerRight
    .spaceIcon
      color primary-color-white
      cursor  pointer
    .btnFechar
      color   primary-color-white
      cursor  pointer

.containerBody
  margin 0 !important
  padding 0 !important

  p 
    margin 0 !important
  
  .bodyModal
    padding 0
    color fourthy-color-gray-mako
    overflow hidden

.actions
  padding 0


