.header
  width  100%
  box-shadow 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 4px 5px 0px rgba(0, 0, 0, 0), 0px 1px 10px 0px rgba(0, 0, 0, 0) !important
  display flex
  justify-content center
  padding 16px

.title
  color #fff !important
  font-size 20px
  font-family "Roboto"
  font-weight 400

.logo
  margin-right 16px
  margin-left 16px
  display flex
  justify-content space-between
  align-items center

  .logoInsurance
    height 20px
    padding 10px 0
  .logoSolera   
    height 20px
    
  

